.active-create-list-con {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #6ee2dc;
    width: 400px;
    border-radius: 20px;
    margin: 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.active-create-list-con h2 {
    text-shadow: 0px 0px 3px #000;
}

.active-create-list-con input {
    width: 250px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    margin-bottom: 15px;
}

.active-create-list-con input::placeholder {
    font-size: 14px;
    font-weight: 700;
}

.active-create-list-con2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.active-create-list-cancel {
    width: 100px;
    height: 30px;
    margin-right: 15px;
    border: none;
    border-radius: 10px;
    background: none;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    text-shadow: 0px 0px 3px #000;
}

.active-create-list-submit {
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 10px;
    background-color: #eeeeee;
    color: #000000;
    font-size: 14px;
    font-weight: 700;
}


