.board-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 30px;
}

.single-board {
    background-color: #ffffff;
    justify-content: center;
    align-items: center;
}

.single-board h2 {
    color: #000000;
}