.create-new-list {
    background-color: #6ee2dc;
    justify-content: center;
    align-items: center;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.create-new-list h2 {
    text-shadow: 0px 0px 3px #000;
}